a {
	cursor: pointer;
}

p {
	text-align: justify;
	color: #5E5E5E;
}

h1 {
	font-size: 25px;
	font-variant: small-caps;
}

h2 {
	font-size: 20px;
	font-variant: small-caps;
}

h3 {
	font-size: 20px;
}

.a_nadpis {
color: #B52828;
text-decoration: none;
border-width: 0px;
}

.active a {
	color: white;
}

.a_nadpis:hover {
text-decoration: underline;
}


.table-header-rotated {
  border-collapse: collapse;

}

.table-header-rotated td {
  text-align: center;
  padding: 10px 5px;
  border: 1px solid #ccc;
}

.table-header-rotated th.rotate {
  height: 140px;
  white-space: nowrap;
}

.table-header-rotated th.rotate > div {
transform: translate3d(48px, 5px, 0) rotate(-45deg);
width: 30px;
transform-origin: left bottom;
box-sizing: border-box;
}

.table-header-rotated th.rotate > div > span {
  border-bottom: 1px solid #ccc;
  padding: 5px 10px;
}

.table-header-rotated th.row-header {

  padding: 5px 10px;
  border-bottom: 1px solid #ccc;
}

#main {
  width: 981px;
  height: 100%;
  position: absolute;
  left: 50%;
  margin: 0 0 0 -490px;
  background: URL('images/main_frame3.png') no-repeat;
  border: solid 0px #cccccc;
}

#logo_okresy {
	position: absolute;
	top: 1px;
	left: 1px;
	z-index: 2;
}

#pole {
  width: 905px;
  height: 100%;
  position: absolute;
  top: 225px;
  left: 76px;
  overflow: auto;
  scroll: no;
  'border-top: solid 1px #293fb4;
  'border-bottom: solid 1px #293fb4;
}

.titulni_box {
	padding: 18px;
	position: relative;
	background: #fafafa;
	border: solid 2px;
}

#box_aktuality {

	border-color: #F2BFBF;
	'background: #F2BFBF;
}

#box_onas {

	border-color: #DCB8B8;
	'background: #DCB8B8;
}

#box_statistiky {

	border-color: #FFDEC7;
	'background: #FFDEC7;
}

#box_khms {

	border-color: #FCEAB7;
	'background: #FCEAB7;
}

#box_orj {

	border-color: #FFDEC7;
	'background: #FFDEC7;
}

.box_nadpis {
	color: #B52828;
	font-size: 20px;
	font-variant: small-caps;
	'background: #F2BFBF;
}

.box_doplnkove_info {
	position: absolute;
	top: 25px;
	right: 20px;
	color: #B52828;
	font-size: 16px;
	font-variant: small-caps;
}


.sipka {
	position: absolute;
	right: 15px;
	bottom: 20px;
}

.mapa_main_page {
	border: solid 1px #D5D5D5;
}

.timetable {
	font-size: 9px;
	height: 96px;
	margin-right: 45px;
	float: right;
	clear: both;
}	



.kalendar_mesic {
	float: right;
}

.kalendar_mesic {
	text-align: center;
	font-weight: bold;
	background: #F2DCAD;
}



.icon_kalendar {
	position: relative;
	top: 4px;
}

.portret {
	border: solid 1px #B52828;
	float: right;
}

.info_stredisko {
	border-top: solid 1px #B52828;
	padding: 7px;
}

.box_zapisy {
	padding: 5px;
	margin-top: 10px;
	margin-bottom: 10px;
	border:  solid 1px #dddddd;
	border-radius: 3px;
	position: relative;
	top: 0px;
	right: 0px;
}

.rok_dokumenty {
	position: absolute;
	right: 5px;
	top: -11px;
	padding-left: 3px;
	padding-right: 3px;
	border: solid 0px #cccccc;
	background-color: #ffffff;
}

.sidebar_item {
	text-align: right;
}
s
.sidebar_item a {
	text-decoration: none;
}

.sidebar_item span {
	font-size: 16px;
	padding-left: 12px;
	padding-right: 9px;
}

.radek_maly_graf {
	border-top: solid 1px #af262c;
}

.KHMS_table {
	padding-left: 2px;
	padding-right: 1px
}